BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/bsy_consultoria
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_USER=

NEXT_PUBLIC_BETTER_AUTH_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_APPLICATION_TIMEZONE=America/Cuiaba


